*.iml
.gradle
/local.properties
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.idea
app/src/androidTest/
app/src/test/
gradle/
gradlew
gradlew.bat
bin/
gen/
*.log
proguard/
gradle.properties